.modal.fade(id=`team_modal_${project.project_id}`,data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
    .modal-dialog
        .modal-content(style="border-radius:0px")
            .modal-header
                h1.modal-title.fs-5#staticBackdropLabel
                    span
                        i.bi.bi-person.fa-2x.text-primary
                    |  Add team member
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                //- form
                form(action=`/dashboard/team/new_team_members/` method="post").px-5
                    .mb-3.row
                        label.col-sm-4.col-form-label(for="title").text-dark Select User
                        .col-sm-8
                            select.form-select.form-select-sm(name="userId" data-mdb-filter="true" )
                                option(selected) Open this select menu
                                each user,index in users
                                    option(value=`${user.user_id}`) #{index+1} #{user.first_name} #{user.last_name}
                                                                
                            input.form-control#title(type="text" name="projectId" hidden value=`${project.project_id}`)

                    .mb-3.row
                        label.col-sm-4.col-form-label(for="description").text-dark Existing Members
                        .col-sm-8
                            //- textarea.form-control#description(placeholder="Milestone overview" style="height: 100px;" name="description" required)
                            ol.list-group.list-group-flush.overflow-auto(style="height:100px")
                                each team,i in (project.team)
                                    li.list-group-item #{i+1} #{team.userId.first_name} #{team.userId.last_name}
                                        form(action="/dashboard/team/remove_member", method="post").float-end

                                            input(type="text",value=`${team.userId.user_id}` name='userId' hidden)
                                            input(type="text",value=`${project.project_id}` name='projectId' hidden)

                                            button.float-end.btn.btn-danger(type="submit", style="--bs-btn-padding-y:.15rem; --bs-btn-padding-x:.3rem; --bs-btn-font-size:.75rem;")
                                                span 
                                                    i.bi.bi-trash3
                                //- li.list-group-item A second item
                                //- li.list-group-item A third item
                                //- li.list-group-item A fourth item
                                //- li.list-group-item And a fifth one

                    .row.my-4
                        .col-lg-12.mb-3

                            .d-grid.gap-4.col-3.mx-auto.mt-3
                                button.btn.btn-primary(type="submit")#update
                                    span#lbl Add Members 

script.
   function removeUser(){
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                return fetch(`//dashboard/remove_member/`)
                .then(response => {
                    if (!response.ok) {
                    throw new Error(response.statusText)
                    }
                    return response.json()
                })
                .catch(error => {
                    Swal.showValidationMessage(
                    `Request failed: ${error}`
                    )
                })
            },
            //- allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
   }; 