.col-12
  .card.recent-sales.overflow-auto
    .filter
      a.icon(href="#", data-bs-toggle="dropdown")
        i.bi.bi-three-dots
      ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
        li.dropdown-header.text-start
          h6 Filter
        li
          a.dropdown-item(href="#") Today
        li
          a.dropdown-item(href="#") This Month
        li
          a.dropdown-item(href="#") This Year
    .card-body
      h5.card-title
        | #{card_title} 
        span | Today
      table.table.datatable
        thead
          tr
            th(scope="col") #
            th(scope="col") Task
            th(scope="col") Description
            th(scope="col") Due_in
            th(scope="col") User
            th(scope="col") Status
        tbody
         each row,index in rows
          
          tr
            th(scope="row")
              a(href="#") #{index+1}
            td #{row.title}
            td
              a.text-primary(href="#") #{row.description}
            td #{row.due_in}
            td #{row.user.first_name} #{row.user.last_name}

            if row.task_status.status_name === 'Active'
              td
                span.badge.bg-warning #{row.task_status.status_name}
            else
              td
                span.badge.bg-success #{row.task_status.status_name}
