.col-12
  .card.recent-sales.overflow-auto
    .card-body
      h5.card-title
        | #{card_title} 
        span | Today
      table.table.datatable
        thead
          tr
            th(scope="col") #
            th(scope="col") Task
            th(scope="col") Description
            th(scope="col") Due_in
            th(scope="col") Assignor
            th(scope="col") Status
        tbody
          each aTask,index in assignedTasks
            tr.bg-primary(style="--bs-bg-opacity: .25;",rowspan="5")
              th(scope="row")
                a(href="#") #{index+1}
              td #{aTask.task.title}
              td #{aTask.task.description}
              td #{moment(aTask.task.due_date).format('LLL')}
              td #{aTask.task.user.first_name} (#{aTask.task.user.designation.title})
              td #{aTask.task.task_status.name}
  
          each row,index in rows
            tr
              th(scope="row")
                a(href="#") #{index+1}
              td #{row.title}
              td
                a.text-primary(href="#") #{row.description}
              td #{moment(row.due_in).format('LLL')}
              if (row.user.first_name == user.first_name)
                td self 
              else
                td #{row.user.first_name} #{row.user.last_name}

              if row.task_status.name === 'Active'
                td
                  span.badge.bg-warning #{row.task_status.name}
              else if row.task_status.name === 'Pending'
                td
                  span.badge.bg-secondary #{row.task_status.name}
              else if row.task_status.name === 'Failed'
                td
                  span.badge.bg-danger #{row.task_status.name}
              else if row.task_status.name === 'Completed'
                td
                  span.badge.bg-success #{row.task_status.name}
              else if row.task_status.name === 'Overdue'
                td
                  span.badge.bg-danger #{row.task_status.name}
              else
                td
                  span.badge.bg-info #{row.task_status.name}
