extends sub-layout

block content
    main#main.main
        .pagetitle
            h1=title
            nav
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/dashboard") Home
                    li.breadcrumb-item Project
                    li.breadcrumb-item Milestone
                    li.breadcrumb-item.active New Milestone
        section.section
            .row
                //  Left side 
                .col-lg-12
                    //  Basic information 
                    .card.mb-4
                        .card-body
                            if (message)
                                h1 #{message}
                            h4.fw-lighter.text-secondary.my-3.mx-3.text-center Project Milestones
                            //- shwing errors
                            div#message
                            hr
                            .row 
                                .col-lg-6.px-5
                                    .text-center
                                        p
                                            strong Project : 
                                            span #{project.title}
                                        p
                                            strong By : 
                                            span #{project.created_by.first_name} #{project.created_by.last_name}

                                    //- ################div to be refreshed by AJAX#################
                                    .col-lg-12#myDiv
                                        p.text-center 
                                            strong Existing Milestones 
                                        hr
                                        .div(style="height:220px").overflow-auto
                                            each row,index in rows
                                                .accordion#accordionExample
                                                    .accordion-item
                                                        h2.accordion-header(id=`heading-${row.mile_id}`)
                                                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse", data-bs-target=`#collapse-${row.mile_id}`,aria-expanded="false", aria-controls=`collapse-${row.mile_id}`).

                                                                (#{index+1})#{row.name}

                                                        .accordion-collapse.collapse(aria-labelledby=`heading-${row.mile_id}`, data-bs-parent="#accordionExample", id=`collapse-${row.mile_id}`)
                                                            .accordion-body
                                                                strong Overview.
                                                                |  #{row.description} 
                                                                //- code .accordion-body
                                                                //- | , though the transition does limit overflow.
                                        hr



                                .col-lg-6.border-start
                                    p.text-center 
                                        strong  New Milestone
                                    form#myForm(action="/dashboard/milestones/" method="post").px-5
                                        .mb-3.row
                                            label.col-sm-4.col-form-label(for="title") Name of Milestone
                                            .col-sm-8
                                                input.form-control#title(type="text" name="title")
                                                input.form-control#title(type="text" name="projectId" hidden value=`${project.project_id}`)

                                        .mb-3.row
                                            label.col-sm-4.col-form-label(for="description") Description
                                            .col-sm-8
                                                textarea.form-control#description(placeholder="Milestone overview" style="height: 100px;" name="description" required)

                                                .mt-3.row
                                                    .col-6 
                                                        .form-floating
                                                            input.form-control#floatingZip(type="date" placeholder="Start date" name="start_date" required)
                                                            label(for="floatingDate") Start date
                                                    .col-6
                                                        .form-floating
                                                            input.form-control#floatingZip(type="date" placeholder="Start date" name="due_date" required)
                                                            label(for="floatingDate") Expected End Date

                                        .row
                                            .col-lg-12.mb-3

                                                .d-grid.gap-4.col-3.mx-auto.mt-3
                                                    button.btn.btn-primary(type="submit")#submit
                                                        span#lbl Add 
                                                        span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")#spina


    script.
        //- var message = "Empty";
        var loading = $('#spina').hide();
        var submitbtn = $('#submit');
        $("#myForm").submit(function(event){
            event.preventDefault();
            //- get form
            var form = $(this);
            //- ajax call
            $.ajax({
                url: form.attr('action'),
                type:form.attr('method'),
                //- dataType: "application/json",
                data: form.serialize(),
                beforeSend: function(){
                    loading.show();
                },
                complete: function(){
                    loading.hide();
                },
                success: function(data){
                    var msg = data.message.type;
                    //- declearing toast
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    if(msg == "success"){
                        //- Clears The form fields
                        form[0].reset();
                        //- fires the toast
                        Toast.fire({
                            icon: data.message.type,
                            title: data.message.info
                        })
                        $("#myDiv").load(document.URL + " #myDiv");
                    }else{
                        Toast.fire({
                            icon: "error",
                            title: "Oops! an error occured"
                        })
                    }
                }

            });

        });