extends sub-layout

block content
    main#main.main
        .pagetitle
            h1=title
            nav
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/dashboard") Home
                    li.breadcrumb-item Task
                    li.breadcrumb-item.active Add New
        section.section
            .row
                .col-lg-12
                    .card
                        .card-body
                            h5.card-title Create new task
                            form(action="/dashboard/my_tasks/new_task" method="POST")
                                .row
                                    .col-6
                                        .form-floating.mb-3
                                            input.form-control#floatingName(type="text" placeholder="Your Name" name="title"  required)
                                            label(for="floatingName") Title
                                        .form-floating
                                            textarea.form-control#floatingTextarea(placeholder="Address" style="height: 100px;" name="description" required)
                                            label(for="floatingTextarea") Description
                                    .col-6
                                        .form-floating.mb-3
                                            select.form-select#floatingSelect(aria-label="Floating label select example").project_sel
                                                option(selected) select project
                                                each project in projects
                                                    option(value=`${project.project_id}`) #{project.title}
                                            label(for="floatingSelect") Project

                                        .form-floating.mb-3
                                            select.form-select#floatingSelect(aria-label="Floating label select example").milestone_sel
                                                option(selected) Select milestne
                                            label(for="floatingSelect") Milestone

                                        .form-floating.mb-3
                                            select.form-select#floatingSelect(aria-label="Floating label select example").team_sel
                                                option(selected) select member
                                            label(for="floatingSelect") Asignee

                                .col-md-6
                                    .col-md-12
                                        .row
                                            .col-md-6
                                                .form-floating
                                                    input.form-control#floatingCity(type="text" placeholder="Status" value="active" disabled)
                                                    label(for="floatingStatus") Status
                                            .col-md-6
                                                .form-floating
                                                    input.form-control#floatingZip(type="date" placeholder="Start date" name="start_date" required)
                                                    label(for="floatingDate") Start date
                                .col-md-4
                                    .form-floating.mb-3
                                        select.form-select#floatingSelect(aria-label="Assignee" name="user_id" required)
                                            if (user.role.role_name == 'Admin')
                                                each row in rows
                                                    option(value=row.user_id).
                                                        #{row.first_name} #{row.last_name}
                                            else 
                                                option(value=user.user_id).
                                                    #{user.first_name} #{user.last_name}
                                        label(for="floatingSelect") Assignee
                                .col-md-2
                                    .form-floating
                                        input.form-control#floatingZip(type="date" placeholder="Due date" name="due_in" required)
                                        label(for="floatingDate") Due date
                                .text-center
                                    button.btn.btn-primary(type="submit") Submit
                                    button.btn.btn-secondary(type="reset") Reset

    script.
        $('.project_sel').on('change', function () {
            //- select milestone dropdown
            var milestone_select = $('.milestone_sel');
            //- clear milestone select
            milestone_select.text('');
            milestone_select.val('');
            //- select asignee dropdown
            var team_select = $('.team_sel');
            //- clear asignee dropdown
            team_select.text('');
            team_select.val('');

            //- select project id from the selected project dropdown
            var project_select = $(this).val();
            var id = parseInt(project_select);

            console.log(id);
            $.ajax({
                url: `/dashboard/projects/api/${id}`,
                type: 'GET',
                success: function (res) {
                    //- console.log(res.project.team)

                    var miles = res.project.milestone
                    var members = res.project.team;
                    for (var index = 0; index < miles.length; index++) {
                        var el = miles[index];
                        var mile_option = document.createElement('option');
                        mile_option.innerHTML = el.name;
                        mile_option.value = el.mile_id;
                        milestone_select.append(mile_option);

                    };
                    for (let i = 0; i < members.length; i ++) {
                        let el =members[i];
                        console.log(el.userId.first_name)
                        let member_option = document.createElement('option');
                        member_option.innerHTML = el.userId.first_name;
                        member_option.value = el.userId.user_id;
                        team_select.append(member_option);
                    }

                }

            })
        })