mixin user_form(user,type)
    <div class="modal fade" id="user_modal#{index}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius:0px">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><span><i class="bi bi-person-circle fa-2x text-primary"></i></span> #{type} #{user.first_name}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    //- Form
                    <form class="p-2" id="form" action="/dashboard/users/update/#{user.user_id}" method="POST">
                        //- form start
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="first name" name="first_name" value=#{user.first_name} />
                                    <label for="floatingInput">First Name</label>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name" value=#{user.last_name} />
                                    <label for="floatingInput">Last Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="xyz@email.com" name="email" value="#{user.email}" />
                                    <label for="floatingInput">Email</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="role">
                                        //- <option value="" selected >select role</option>  
                                        <option value="#{user.roleRole_id}" selected >#{user.role.role_name}</option>  
                                    each role in results
                                        <option value="#{role.role_id}">#{role.role_name}</option>
                                    </select>
                                    <label for="floatingSelect">Role</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                        </div>

                        //- form end
                    </form>
                </div>
            </div>
        </div>
    </div>